.clear-all {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.clear-all:hover {
    text-decoration: underline;
}

.total-count {
    margin-left: 10px;
}

.filters li a {
    padding: 3px 5px;
}
